In [1]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/ajiteshshree/Spaceship-Titanic/main/spaceship-titanic/train.csv")
df_test = pd.read_csv("https://raw.githubusercontent.com/ajiteshshree/Spaceship-Titanic/main/spaceship-titanic/test.csv")

In [3]:
pid = df['PassengerId'].tolist()
pid2 = df_test['PassengerId'].tolist()

In [4]:
rows = df.shape[0]
j=0
while j < rows:
    pid[j] = pid[j][0:4]
    j +=1
rows2 = df_test.shape[0]
k=0
while k < rows2:
    pid2[k] = pid2[k][0:4]
    k+=1

In [5]:
original_pid = df['PassengerId'].tolist()
original_pid2 = df_test['PassengerId'].tolist()

In [6]:
df['PassengerId'] = df['PassengerId'].replace(original_pid,pid)
df_test['PassengerId'] = df_test['PassengerId'].replace(original_pid2,pid2)

In [7]:
df.drop('Name',axis=1,inplace=True)
df_test.drop('Name',axis=1,inplace=True)

In [8]:
print("df.shape : ", df.shape)
print("df_test.shape : ", df_test.shape)

df.shape :  (8693, 13)
df_test.shape :  (4277, 12)

In [9]:
#removing luxiries from analysis
df.drop(['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck'],inplace=True,axis=1)
df_test.drop(['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck'],inplace=True,axis=1)

In [10]:
#filling NaN values
df["Age"].fillna(int(df["Age"].mean()),inplace=True)
df["HomePlanet"].fillna(df["HomePlanet"].mode()[0],inplace=True)
df["CryoSleep"].fillna(df["CryoSleep"].mode()[0],inplace=True)
df["Destination"].fillna(df["Destination"].mode()[0],inplace=True)
df["VIP"].fillna(df["VIP"].mode()[0],inplace=True)
df["Cabin"].fillna("",inplace=True)

In [11]:
df_test["Age"].fillna(int(df_test["Age"].mean()),inplace=True)
df_test["HomePlanet"].fillna(df_test["HomePlanet"].mode()[0],inplace=True)
df_test["CryoSleep"].fillna(df_test["CryoSleep"].mode()[0],inplace=True)
df_test["Destination"].fillna(df_test["Destination"].mode()[0],inplace=True)
df_test["VIP"].fillna(df_test["VIP"].mode()[0],inplace=True)
df_test["Cabin"].fillna("",inplace=True)

In [12]:
print("Number of nulls in cabin : ",df['Cabin'].isnull().sum())
df['Cabin'].mode()

Number of nulls in cabin :  0

0
Name: Cabin, dtype: object

In [13]:
# df = df[df['Cabin'].notna()]

In [14]:
y = np.array(df["Transported"])
df.drop(['Transported'], axis=1, inplace=True)

In [15]:
df.isnull().sum()

PassengerId    0
HomePlanet     0
CryoSleep      0
Cabin          0
Destination    0
Age            0
VIP            0
dtype: int64

In [16]:
df_test.isnull().sum()

PassengerId    0
HomePlanet     0
CryoSleep      0
Cabin          0
Destination    0
Age            0
VIP            0
dtype: int64

In [18]:
b=0
cabin_deck =[]
cabin_side = []
while b < df.shape[0]:
    if df.iloc[b,3] != "":
        cabin_deck.append(df.iloc[b,3][0])
        cabin_side.append(df.iloc[b,3][-1])
    else:
        cabin_deck.append("")
        cabin_side.append("")
    b += 1

In [19]:
a=0
cabin_deck2 =[]
cabin_side2 = []
const = df_test.shape[0]
while a < const:
    if df_test.iloc[a,3] != "":
        cabin_deck2.append(str(df_test.iloc[a,3])[0])
        cabin_side2.append(str(df_test.iloc[a,3])[-1])
    else:
        cabin_deck2.append("")
        cabin_side2.append("")
        
    a += 1

In [20]:
df['cabin_deck'] = cabin_deck
df['cabin_side'] = cabin_side
df.drop('Cabin', axis=1, inplace=True)

In [21]:
df_test['cabin_deck'] = cabin_deck2
df_test['cabin_side'] = cabin_side2
df_test.drop('Cabin', axis=1, inplace=True)

In [22]:
df_test.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,cabin_deck,cabin_side
0,0013,Earth,True,TRAPPIST-1e,27.0,False,G,S
1,0018,Earth,False,TRAPPIST-1e,19.0,False,F,S
2,0019,Europa,True,55 Cancri e,31.0,False,C,S
3,0021,Europa,False,TRAPPIST-1e,38.0,False,C,S
4,0023,Earth,False,TRAPPIST-1e,20.0,False,F,S

In [23]:
cols = df.columns
cols2 = df_test.columns

In [24]:
for x in cols:
        print(x,end = ' : ')
        print(df[x].unique())
print()
for t in cols2:
    print(t,end = ' : ')
    print(df_test[t].unique())

PassengerId : ['0001' '0002' '0003' ... '9278' '9279' '9280']
HomePlanet : ['Europa' 'Earth' 'Mars']
CryoSleep : [False  True]
Destination : ['TRAPPIST-1e' 'PSO J318.5-22' '55 Cancri e']
Age : [39. 24. 58. 33. 16. 44. 26. 28. 35. 14. 34. 45. 32. 48. 31. 27.  0.  1.
 49. 29. 10.  7. 21. 62. 15. 43. 47.  2. 20. 23. 30. 17. 55.  4. 19. 56.
 25. 38. 36. 22. 18. 42. 37. 13.  8. 40.  3. 54.  9.  6. 64. 67. 61. 50.
 41. 57. 11. 52. 51. 46. 60. 63. 59.  5. 79. 68. 74. 12. 53. 65. 71. 75.
 70. 76. 78. 73. 66. 69. 72. 77.]
VIP : [False  True]
cabin_deck : ['B' 'F' 'A' 'G' '' 'E' 'D' 'C' 'T']
cabin_side : ['P' 'S' '']

PassengerId : ['0013' '0018' '0019' ... '9271' '9273' '9277']
HomePlanet : ['Earth' 'Europa' 'Mars']
CryoSleep : [ True False]
Destination : ['TRAPPIST-1e' '55 Cancri e' 'PSO J318.5-22']
Age : [27. 19. 31. 38. 20. 21. 23. 24. 45. 44. 46. 29. 40. 30. 14. 66. 36. 18.
 26. 48.  6. 33. 28.  1. 17. 34.  5. 22. 16.  7.  2.  0. 56. 39. 35.  8.
  3.  9. 25. 42. 50. 41. 32. 49. 55. 60. 47. 58. 12. 52. 15. 43. 54. 70.
 37. 59. 61. 63. 53.  4. 10. 65. 13. 51. 79. 74. 67. 69. 57. 72. 75. 11.
 73. 71. 64. 62. 78. 77. 68.]
VIP : [False  True]
cabin_deck : ['G' 'F' 'C' 'B' 'D' 'E' '' 'A' 'T']
cabin_side : ['S' 'P' '']

In [25]:
df = df[['cabin_deck','cabin_side','VIP','CryoSleep','HomePlanet','Destination','Age','PassengerId']]

In [26]:
df_test = df_test[['cabin_deck','cabin_side','VIP','CryoSleep','HomePlanet','Destination','Age','PassengerId']]

In [27]:
cols = df.columns
cols2 = df_test.columns

In [28]:
le = LabelEncoder()
enc = OneHotEncoder(sparse=False, handle_unknown='ignore')

In [29]:
id = df['PassengerId'].tolist()
int_id = []
for x in id:
    int_id.append(int(x))

In [30]:
id2 = df_test['PassengerId'].tolist()
int_id2 = []
for x in id2:
    int_id2.append(int(x))

In [31]:
df['PassengerId'] = df['PassengerId'].replace(id,int_id)

In [32]:
df_test['PassengerId'] = df_test['PassengerId'].replace(id2,int_id2)

In [33]:
df.dtypes

cabin_deck      object
cabin_side      object
VIP               bool
CryoSleep         bool
HomePlanet      object
Destination     object
Age            float64
PassengerId      int64
dtype: object

In [34]:
df_test.dtypes

cabin_deck      object
cabin_side      object
VIP               bool
CryoSleep         bool
HomePlanet      object
Destination     object
Age            float64
PassengerId      int64
dtype: object

In [35]:
df_ori = df.copy()

In [36]:
df_ori2 = df.copy()

In [37]:
# label encode
for x in cols:
    if df[x].dtype == 'O' or df[x].dtype == 'bool':
        df[x] = le.fit_transform(df[x])

In [38]:
for x in cols2:
    if df_test[x].dtype == 'O' or df_test[x].dtype == 'bool':
        df_test[x] = le.fit_transform(df_test[x])

In [39]:
# Onehot encode
for x in cols:
    if df_ori[x].dtype == 'O' or df_ori[x].dtype == 'bool':
        ct = ColumnTransformer([(x, OneHotEncoder(), [0])], remainder = 'passthrough')
        df = ct.fit_transform(df)

In [40]:
# Onehot encode
for x in cols2:
    if df_ori2[x].dtype == 'O' or df_ori2[x].dtype == 'bool':
        ct = ColumnTransformer([(x, OneHotEncoder(), [0])], remainder = 'passthrough')
        df_test = ct.fit_transform(df_test)

In [41]:
logisticRegr = LogisticRegression(max_iter=7000)

In [42]:
np.unique(y,return_counts=True)

(array([False,  True]), array([4315, 4378], dtype=int64))

In [43]:
logisticRegr.fit(df,y)

LogisticRegression(max_iter=7000)

In [47]:
res = logisticRegr.predict(df_test).tolist()

In [48]:
logisticRegr.score(df, y)

0.7233406188887611

In [54]:
predictions = pd.DataFrame({'PassengerId' : original_pid2,'Transported':res})

In [55]:
predictions.set_index('PassengerId')

             Transported
PassengerId
0013_01             True
0018_01            False
0019_01             True
0021_01            False
0023_01            False
...                  ...
9266_02             True
9269_01            False
9271_01             True
9273_01            False
9277_01             True

[4277 rows x 1 columns]

In [56]:
predictions.to_csv('predictions.csv',index = False)